<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="CommerceFramework">
      <section name="Application" type="Mediachase.Commerce.Core.CoreConfiguration,Mediachase.Commerce" />
      <section name="Catalog" type="Mediachase.Commerce.Catalog.CatalogConfiguration,Mediachase.Commerce" />
      <section name="Orders" type="Mediachase.Commerce.Orders.OrderConfiguration,Mediachase.Commerce" />
      <section name="Customers" type="Mediachase.Commerce.Customers.Configuration.CustomerConfiguration,Mediachase.Commerce" />
      <section name="Mediachase.Search" type="Mediachase.Search.SearchConfiguration,Mediachase.Search" />
    </sectionGroup>
    <sectionGroup name="mediachase.businessFoundation.data"
                  type="Mediachase.BusinessFoundation.Data.Configuration.MediachaseDataSectionGroup, Mediachase.BusinessFoundation.Data">
      <section name="metaClassManager"
               type="Mediachase.BusinessFoundation.Data.Meta.Management.Configuration.MetaClassManagerSection, Mediachase.BusinessFoundation.Data"/>
      <section name="metaObject" type="Mediachase.BusinessFoundation.Data.Meta.Configuration.MetaObjectSection, Mediachase.BusinessFoundation.Data"/>
      <section name="businessManager"
               type="Mediachase.BusinessFoundation.Data.Business.Configuration.BusinessManagerSection, Mediachase.BusinessFoundation.Data"/>
    </sectionGroup>
  </configSections>
  <CommerceFramework>
    <Application configSource="Configs/ecf.app.config" />
    <Catalog configSource="Configs/ecf.catalog.config" />
    <Orders configSource="Configs/ecf.order.config" />
    <Customers configSource="Configs/ecf.customer.config" />
    <Mediachase.Search configSource="Configs/Mediachase.Search.config" />
  </CommerceFramework>
  <mediachase.businessFoundation.data>
    <businessManager configSource="Configs/baf.data.manager.config"/>
    <metaObject configSource="Configs/baf.data.metaobject.config"/>
  </mediachase.businessFoundation.data>
  <connectionStrings>
    <clear />
    <add name="EPiServerDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\qs.netcore.cms.mdf;Initial Catalog=qs.netcore.cms;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EcfSqlConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\qs.netcore.commerce.mdf;Initial Catalog=qs.netcore.Commerce;Integrated Security=True;Connect Timeout=10;" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<appSettings>
		<add key="PromotionExclusionLevel" value="Order" />
		<add key="CommerceManagerApplicationName" value="ECApplication" />
		<add key="CommerceManagerLink" value="http://localhost:63149/Apps/Shell/Pages/default.aspx" />
		<add key="ProductListPageType" value="" />
		<add key="ProductDetailPageType" value="" />
		<add key="LibraryHandlerExtension" value="" />
		<add key="Mediachase.StoreEmail" value="eCommerce@episerver.com" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="PasswordResetValidMinutes" value="60" />
		<add key="AutoMigrateEPiServer" value="true" />
		<add key="DisableVersionSync" value="true" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="episerver:UpdateDatabaseSchema" value="true" />
		<add key="episerver:tracking.Enabled" value="true" />
		<add key="episerver:personalization.BaseApiUrl" value="https://personalization-qa.peerius.com:8443/" />
		<add key="episerver:personalization.Site" value="episervertest" />
		<add key="episerver:personalization.ClientToken" value="bi3349vass4eowegu4t" />
		<add key="episerver:personalization.AdminToken" value="adminbi3349vass4eowegu4t" />
		<add key="episerver:personalization.RequestTimeout" value="0:0:1" />
		<add key="episerver:ExpiredCartsRemovalJobExcludedCartName" value="WishList" />
		<add key="ida:ClientId" value="Change this to your AAD Application ClientId" />
		<add key="ida:Tenant" value="Change this to your AAD Directory eg. contoso.onmicrosoft.com/" />
		<add key="ida:RedirectUri" value="Change this to your front-end URL" />
		<add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
		<add key="ida:PostLogoutRedirectUri" value="Change this to your front-end URL or a logout confirmation page" />
		<add key="episerver:campaign.CatalogNames" value="Fashion" />
		<add key="episerver:campaign.ExportProductFileName" value="indexCsv-contentSource.csv" />
		<add key="episerver:campaign.CampaignClientId" value="195573754082" />
		<add key="episerver:campaign.FTPHostName" value="ftpapi.campaign.episerver.net" />
		<add key="episerver:campaign.FTPPort" value="22" />
		<add key="episerver:campaign.FTPUserName" value="r_episerver_commerce" />
		<add key="episerver:campaign.SSHFilePath" value="/campaign_ssh.key" />
		<add key="episerver:campaign.SSHPassphrase" value="devLab08" />
		<add key="episerver:campaign.MarketId" value="US" />
		<add key="episerver:Commerce.WishListCartNames" value="WishList" />
		<add key="episerver:commerce.DisableLegacyConfiguration" value="true" />
		<add key="episerver:setoption:Mediachase.Commerce.Orders.OrderOptions.DisableOrderDataLocalization, Mediachase.Commerce" value="true" />
		<add key="episerver:setoption:Mediachase.Commerce.Marketing.MarketingOptions.LinkableTypesEnabled,Mediachase.Commerce" value="false" />
	</appSettings>
</configuration>