@model string
@{
    Layout = null;
}
<div>
    <h3>@Html.Translate("/Registration/OrderConfirmation/AccountCreatedHeading")</h3>
    <span>@string.Format(((HtmlString)Html.Translate("/Registration/OrderConfirmation/AccountCreated")).Value, Model)</span>
</div>